.articleList {
  margin: 3rem 0;
}
.bioText {
  font-size: 1.1rem;
  font-style: italic;
  margin: 0.5rem 0;
}
.monthGroup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.monthGroup li {
  margin: 1.5rem 0;
}
.month {
  background-color: var(--color-text-highlight);
  display: inline;
  padding: 1px 5px;
  font-size: 1.3rem;
}
a.articleTitle,
a.articleTitle:visited {
  color: var(--color-text-link);
  text-decoration: none;
}
a.articleTitle:hover,
a.articleTitle:focus,
a.articleTitle:active {
  color: var(--color-text-hover);
  text-decoration: underline;
}
.articleTitle h3 {
  font-size: 1.7rem;
  margin: 0.5rem 0;
  display: inline;
}
.articleDescription {
  font-size: 1rem;
  margin: 0.5rem 0;
}
