.articleHeader {
  width: 100%;
  border-bottom: 2px solid var(--color-border-separator);
}
.title {
  text-shadow: 4px 4px 4px var(--color-shadow-gold);
  font-size: 3rem;
  margin: 1.5rem 0 0.5rem;
}
.subHeader {
  width: 100%;
  margin: 0 0 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.3rem;
  color: var(--color-text-subheader);
}
.subHeader p {
  padding: 3px 5px;
  margin: 0.5rem 0;
  font-family: var(--font-family-heading);
  font-weight: bold;
  background-color: var(--color-text-highlight);
}
